body {
  background-image: url("../images/fondo3.jpg");
}

.header-content {
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
  width: 980px;
  height: 200px;
  /*border: solid 1px #ff00ff;*/
}

.logo {
  display: inline-block;
  float: left;
  width: 20%;
  height: inherit;
  /*border: solid 1px #0000ff;*/
}

.logo img {
  width: 200px;
}

.menu-content {
  display: inline-block;
  float: left;
  width: 69%;
  /*border: solid 1px #0000ff;*/
  padding-top: 100px;
}

header nav {
  background: #3fa46a;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

.menu-link {
  transition: 0.3s ease;
  background: #3fa46a;
  color: #ffffff;
  font-family: fantasy;
  font-size: 16px;
  font-stretch: bold;
  text-decoration: none;
  border-top: 4px solid #3fa46a;
  border-bottom: 4px solid #3fa46a;
  padding: 10px 5px;
  margin: 10px 0 10px 10px;
  text-align: center;
}

.menu-link:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 10px 5px;
}

.cart {
  display: inline-block;
  width: 10%;
  float: right;
  /*border: solid 1px #ffff00;*/
  padding-top: 125px;
}

.cart img {
  width: 50px;
}

header nav ul {
  overflow: hidden;
  list-style: none;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  padding: 5px;
  display: block;
}

#btn-menu, label {
  display: none;
}

#btn-menu, img {
  width: 50px;
}

header label {
  float: right;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer;
}

/* page */

.page-section {
  width: 100%;
  float: left;
}

.page-content {
  width: 1200px;
  margin: auto;
  padding: 0px;
  background-color: #ffccff;
  /*border: solid 1px #ff00ff;*/
}

/* category */

.grid_3 {
  width: 280px;
}

.grid_9 {
  width: 880px;
}

.grid_12 {
  width: 1180px;
}

.grid_12 img {
  width: inherit;
  height: 300px;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
  margin: 10px;
  float: left;
  display: inline;
}

.woocommerce {
  float: left;
  width: 100%;
}

.widget {
  float: left;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 0px 0px #f1f1f1;
  box-shadow: 0px 4px 0px 0px #f1f1f1;
  border-radius: 5px 5px 5px 5px;
}

.widget h2 {
  color: #fff;
  font-weight: 300;
  padding: 20px;
  font-size: 17px;
  border-radius: 5px 5px 0px 0px;
  background-color:
}

.widget.woocommerce h2 {
  color: #fff !important;
  font-size: 17px !important;
  box-sizing: border-box;
  margin: 0px;
}

.widget.woocommerce>h2 {
  background-color: #ff99e6;
}

.widget ul {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.widget ul li:last-child {
  border-bottom-width: 0px;
}

.widget ul li {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-bottom: 1px solid #f1f1f1;
  border-bottom-width: 1px;
  color: #a9a9a9;
  background-image: url(../img/blog/bglisidebar.png);
  background-repeat: no-repeat;
  background-position: top 25px right 20px;
  background-size: 8px 11px;
}

.widget ul li a {
  padding: 20px;
  color: #a9a9a9;
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
}

/* products */

.products {
  list-style: none;
  margin: 0px -20px 0 0;
  padding: 0px 0 0 0;
  clear: both;
}

.products li {
  float: left;
  width: 280px;
  list-style: none;
  margin: 0 20px 20px 0;
  padding: 0px 0px 0px 0px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border: 4px solid #f1f1f1;
  border-radius: 5px;
  box-sizing: border-box;
}

.product {
  position: relative;
  float: left;
  width: 100%;
}

.products a {
  display: block;
  float: left;
  width: 100%;
}

.products li img {
  margin: 0px;
  height: 250px;
  width: auto;
  float: left;
  border-radius: 2px 2px 0px 0px;
}

.products li h3 {
  margin: 0;
  padding: 20px;
  font-size: 17px;
  color: #a9a9a9;
  float: left;
  width: 100%;
  font-weight: 300;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

.products li .price {
  display: block;
  font-size: 15px;
  margin: 0 0 0px 0;
  color: #a9a9a9;
  border: none;
  padding: 20px;
  box-sizing: border-box;
  height: 60px;
}

.product .price {
  float: left;
  width: 100%;
  margin: 40px 0px;
  font-size: 17px;
}

.products li .add_to_cart_button, .products li.outofstock a.button, .products li.product-type-external a.button, .products li.product-type-grouped a.button {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.products li .add_to_cart_button, .products li .product_type_variable, .products li.outofstock a.button, .products li.product-type-external a.button, .products li.product-type-grouped a.button {
  box-shadow: 0px 0px 0px 0px #e5e5e5;
  background-color: #fff;
  color: #a9a9a9;
  font-size: 17px;
  padding: 10px 20px;
  display: inline-block;
  height: 19px;
  margin: 0px 0px 20px 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  width: initial;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  text-decoration: none;
}

.products li .add_to_cart_button:hover, .products li.outofstock a.button:hover, .products li.product-type-external a.button:hover, .products li.product-type-grouped a.button:hover {
  box-shadow: 0px 0px 0px 0px transparent !important;
  margin-top: 4px;
  margin-bottom: 16px;
}

.products li .add_to_cart_button::before, .products li.outofstock a.button::before, .products li.product-type-external a.button::before, .products li.product-type-grouped a.button::before {
  /*content: '\ea57';*/
  font-family: 'fontello';
  margin-right: 10px;
}

/* footer */

.pet-footer{
  /*width: 1200px; */
}

.footer-content {
  float: left;
  width: 100%;
  /*width: 980px;*/
  height: 200px;
  margin: 0 auto;
  background-color: #660066;
  /*border: solid 1px #ff00ff;*/
}

.footer-menu {
  float: left;
  font-family: sans-serif;
  font-size: 20px;
  color: #ffff1a;
  text-align: center;
  padding-top: 10px;
  padding-left: 275px;
}

.footer-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  /*background-color: #333333;*/
}

.footer-menu li {
  float: left;
}

.footer-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.footer-menu li a:hover {
  background-color: #111111;
}

.footer-social {
  float: left;
  padding-left: 525px;
}

.footer-social ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

.footer-social li {
  float: left;
}

.footer-social li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.footer-copyright {
  width: inherit;
  float: left;
  background-color: #cc00cc;
  color: #ffcc00;
  font-size: 15px;
  font-family: Arial, Consolas, Monaco;
  /*font-weight: bold;*/
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 380px) {
  body {}
  .logo {
    display: inline-block;
    float: left;
    width: 20%;
    height: inherit;
    /*border: solid 1px #0000ff;*/
  }
  .logo img {
    padding-top: 150px;
    width: 50px;
  }
  .header-content {
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    margin: 0 auto;
    width: 95%;
    height: 200px;
    /*border: solid 1px #ff00ff;*/
  }
  .menu-content {
    float: right;
    width: 50%;
    /*border: solid 1px #0000ff;*/
    padding-top: 140px;
  }
  label {
    display: block;
  }
  header nav ul li {
    float: none;
  }
  .menu {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 70%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.8);
    transform: translateX(-100%);
    transition: all 0.5s;
    z-index: 1000;
  }
  .menu a {
    display: block;
    color: #FFF;
    height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .menu-link {
    transition: 0.3s ease;
    background: #3fa46a;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    border-top: 2px solid #3fa46a;
    border-bottom: 2px solid #3fa46a;
    padding: 2px 1px;
    margin: 2px 2px;
    text-align: center;
  }
  .menu-link:hover {
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 10px 5px;
  }
  #btn-menu:checked~.menu {
    transform: translateX(0%);
  }
  .cart {
    /*display: inline-block;*/
    width: 20%;
    float: left;
    /*border: solid 1px #ffff00;*/
    padding-top: 150px;
  }
  .cart img {
    width: 50px;
  }
  .page-content {
    width: 95%;
  }
  /*products*/
  .grid_9 {
    width: 95%;
  }
  .grid_12 {
    width: 95%;
  }
  .grid_12 img {
    width: inherit;
    height: 95%;
  }
  .widget {
    float: left;
    width: 85%;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 0px 0px #f1f1f1;
    box-shadow: 0px 4px 0px 0px #f1f1f1;
    border-radius: 5px 5px 5px 5px;
  }
  .widget ul {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  .widget ul li {
    float: left;
    width: 95%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-bottom: 1px solid #f1f1f1;
    border-bottom-width: 1px;
    color: #a9a9a9;
    background-image: url(../img/blog/bglisidebar.png);
    background-repeat: no-repeat;
    background-position: top 25px right 20px;
    background-size: 8px 11px;
  }

  .products li {
    float: left;
    width: 90%;
    list-style: none;
    margin: 0 20px 20px 0;
    padding: 0px 0px 0px 0px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border: 4px solid #f1f1f1;
    border-radius: 5px;
    box-sizing: border-box;
  }

  /*footer*/
  .pet-footer{
    /*width: 95%;*/
  }
  .footer-content {
    width: 100%;
    height: 100px;
  }
  .footer-menu {
    display: none;
  }
  .footer-social {
    display: none;
  }
  .footer-copyright {
    width: 100%;
    font-size: 12px;
  }
}
